//Variables entorno

//Ver anidación


/* Estilos del archivo App.jsx - react */
.header{
    background-color: darkslategrey;
    display: flex;
    height: 5em;
    justify-content: center;

    .titulo{
        color:#e8cda6;
        align-self: center;
        font-size: 2rem;
        font-weight: bold;
      }
  }

  
  /* div -espacio del listado */
  .body-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    h2{
      color: beige;
    }

    /* Estilos del To do */
  .todo-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    

    .seccionInput{
        width: 90%;
        display: flex;
        justify-content: space-evenly;

        input{
            width: 80%;
            height: 2em;
          
          }
          .btnAgregar{
            background-color: greenyellow;
            border-radius: 5px;
            border: none;
            width: 5em;
          }
      }
      
      
      
    .tareasPendientes{
        align-self: center;
        border-radius: 10px;
        width: 80%;
        ol{
          padding-left: 0;
          li{
            display: flex;
            background-color: #e8cda6;
            border: 2px solid #c9b08d;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
              .texto{
                  flex: 1;
                  font-size: large;
              }
              button{
                margin: 2px;
                border: none;
                border-radius: 5px;
              }
              .btnBorrar{
                background-color: lightsalmon;
              }
              .btnSubir, .btnBajar{
                background-color: lightskyblue;
              }
        }

        
        }
    }
      
  }
    
  }
  
  
  